.elementBox {
  --element-color: #b9b4b0;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1.8px solid var(--element-color);
  padding: 10px 10px;
  margin: 2px 2px;
  min-height: 50px;
  min-width: 50px;
  position: relative;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  color: var(--element-color);
}

.elementBoxIndex {
  color: rgb(116, 116, 116);
  font-weight: 700;
  position: absolute;
  font-size: 12px;
}

.elementBoxIndex--top {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 5px));
}
.elementBoxIndex--right {
  top: 50%;
  left: 100%;
  transform: translate(calc(50% + 5px), -50%);
}
.elementBoxIndex--bottom {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 5px);
}
.elementBoxIndex--left {
  top: 50%;
  left: 0%;
  transform: translate(calc(-100% - 10px), -50%);
}

.elementBoxShow--top {
  margin-top: 20px;
}
.elementBoxShow--right {
  margin-right: 20px;
}
.elementBoxShow--bottom {
  margin-bottom: 20px;
}
.elementBoxShow--left {
  margin-left: 20px;
}

.defaultSelection {
  background-color: rgb(63, 63, 63);
}
