.stackStructure {
  display: flex;
  align-items: flex-end;
}

.stackDot {
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background-color: white;
  margin: 0 7px;
  margin-top: 20px;
  align-self: center;
}
